.jumbotron{
  background-image: url("https://longreadsblog.files.wordpress.com/2019/01/GettyImages-955854460.jpg?w=1200");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.display-4:hover{
    color:white
}